@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  background: #f5fbff;
}

.full-screen {
  min-height: calc(100vh - 120px);
}
.pop-up {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  z-index: 5;
}

.background-image {
  background: linear-gradient(
      to left,
      rgba(95, 87, 115, 0.5) 0%,
      rgba(95, 87, 115, 0.5) 0%
    ),
    url("./images/cloudy.jpg") center/cover fixed no-repeat;
}
.Mui-selected {
  color: white;
  border-bottom: 2px solid white;
}
.MuiBottomNavigationAction-iconOnly {
  color: blue;
}
